[Desktop Entry]
Type=Application
Name=cutiepi-shell
Comment=CutiePi Shell
Exec=/bin/sh -c 'if [ ! -d /home/rpi-first-boot-wizard ]; then /usr/local/bin/cutiepi-shell; fi'
NotShowIn=GNOME;KDE;XFCE;
